<div class="container-app">
</div>


  <div class="ui secondary menu">
    <div class="item"><%= image_tag 'logo.png', class: 'logo' %></div>
  </div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="holder">
  <div class="ui two column centered grid middle aligned">
    <div class="centered row">
      <div class="big left icon input ui">
        <%= f.text_field :email, autofocus: true, placeholder: "Введите имя" %>
        <i class="users icon"></i>
      </div>
     </div>
  <div class="centered row">
    <div class="big left icon input ui">
      <%= f.password_field :password, placeholder: "Введите пароль" %>
      <i class="key icon"></i>
    </div>
  </div>

    <% if devise_mapping.rememberable? -%>
      <div class="centered row">
        <div class="ui checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label 'Запомнить' %>
        </div>
      </div>
    <% end -%>

    <div class="centered row">
      <%= f.submit "Войти", class: "big ui button primary" %>
    </div>
  </div>
</div>
<% end %>
